@charset "utf-8";

@media (max-width:768px) {
    .l-col-tablet-1-6 { width: 16.66666666667%; }
    .l-col-tablet-2-6 { width: 33.33333333333%; }
    .l-col-tablet-3-6 { width: 50%; }
    .l-col-tablet-4-6 { width: 66.66666666667%; }
    .l-col-tablet-5-6 { width: 83.33333333333%; }
    .l-col-tablet-6-6 { width: 100%; }
    
    /* header */
    .header {
        background: var(--primary-bg-color);
    }
    .header-inner {
        padding: 0 1rem;
    }
    .nav__container {
        display: none;
    }
    .header__btn {
        display: block;
        font-size: 2rem;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        padding: 0 1rem;
    }
    .nav__sub-item {
        text-align: center;
        margin-top: -2px;
        background: var(--primary-bg-color);
        box-shadow:  2px 2px 2px 1px rgba(87, 87, 87, 0.15);
    }
    .nav__sub-item.visible {
        display: block;
    }
    .nav__item-list {
        padding: 1rem 0;
    }
    .nav__item-list:hover {
        text-decoration: underline;
    }

    /* home */
    
    section.home {
        height: 100%;
    }
    .home-title {
        font-size: 8rem;
    }
    .home-load {
        flex-direction: column;
        padding: 0;
        margin-top: 2rem;
    }
    .home-load span {
        width: 120px;
        height: 120px;
    }
    .home-load span:nth-child(2),
    .home-load  span:nth-child(3),
    .home-load  span:nth-child(4),
    .home-load  span:nth-child(5) {
        margin-left: 0;
    }
    .home-sub__title {
        width: 50%;
        position: absolute;
        bottom: 5%;
        right: 0;
    }
    .home-sub__title p {
        font-size: 2rem;
    }
    .home-sub__title img {
        width: 30%;
    }
    .sub-desc{
        padding: .5rem;
    }
    .sub-img__right,
    .sub-img__left {
        padding: .5rem;
    }
    /* about */
    .about__title {
        text-align: center;
        padding: 0;
    }
    .about-inner {
        flex-direction: column;
        padding: 0;
    }
    .about-img {
        position: relative;
    }
    .about__button {
        position: absolute;
        bottom: -20%;
        left: 50%;
        transform: translatex(-50%);
    }
    .about__button a {
        display: inline-block;
        width: 150px;
        padding: .5rem;
        background: var(--color-yellow);
        border-radius: 10px;
        text-align: center;
        margin-right: 5px;
    }
    .about-container {
        margin-top: 5rem;
    }
    .about-container__item {
        margin: 1.5rem auto;
        text-align: center;
    }
    .skill-container {
    width: 50%;
    margin: 0 auto;
    margin-top: -7rem;
    }
    .skill-container .col-lg-3 {
        margin: 1rem;
    }
    /* design */
    section.design {
        padding: 0;
    }
    /* modal */
    .design__modal,
    .web__modal {
        margin-top: 5rem;
    }

    /* web */
    section.web {
        padding: 0;
    }
    .slider__content {
        flex-direction: column;
        text-align: center;
    }
    .slider__desc {
        padding: 0;
    }
    .slick-prev {
        left: 0;
    }
    .slick-next {
        right: 0;
    }

}
@media (max-width:568px) {
    .l-col-mobile-1-6 { width: 16.66666666667%; }
    .l-col-mobile-2-6 { width: 33.33333333333%; }
    .l-col-mobile-3-6 { width: 50%; }
    .l-col-mobile-4-6 { width: 66.66666666667%; }
    .l-col-mobile-5-6 { width: 83.33333333333%; }
    .l-col-mobile-6-6 { width: 100%; }  
    
    /* home */
    .home-back {
        max-width: 568px;
    }
    .home-title {
        padding-top: 1.8rem;
        font-size: 5rem;
    }
    .sub-desc p {
        font-size: 1.3rem;
    }
    .start__btn a{
        display: block;
        font-size: .9rem;
        border-radius: 10px;
        width: 80px;
        text-align: center;
    }
    .home-load span {
        width: 100px;
        height: 100px;
    }
/* about */
    section.about {
    margin-top: -4rem;
    }
    .about__title h3 {
        font-size: 1.2rem;
    }
    .about__button {
        display: flex;
    }

/* web     */
.slider__buttons a {
    font-size: .8rem;
}

}