@charset "utf-8";

:root {
    --primary-bg-color: #F3F3F3;
    --color-white : #fff;
    --color-light-gray : #a0a0a0;
    --color-dark-gray : #333;
    --color-black : #000;
    --color-yellow : #f5df63;

}

/* reset */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a{
    text-decoration: none!important;
    color: inherit!important;
}


img {
    max-width: 100%;
    vertical-align: top;
}
button {
    cursor: pointer;
    outline: none!important;
}
body {
    font-family: 'Inter', sans-serif;
}

/* grid system */
.l-col-1-6 { width: 16.66666666667%; }
.l-col-2-6 { width: 33.33333333333%; }
.l-col-3-6 { width: 50%; }
.l-col-4-6 { width: 66.66666666667%; }
.l-col-5-6 { width: 483.33333333333%; }
.l-col-6-6 { width: 100%; }


/* layout */

.inner {
    min-width: 340px;
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem 0 4rem;
}
.flex {
    display: flex;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

/* header */
header {
    z-index: 1;
    position: fixed;
    left: 0;
    width: 100%;
    max-width: 100%;
    background: var(--primary-bg-color);
    box-shadow:  2px 2px 2px 1px rgba(87, 87, 87, 0.15);
    height: 50px;
}
.header-inner {
    max-width: 1140px;
    margin: 0 auto;
    justify-content: space-between;
    line-height: 50px;
}
header #logo img {
    width: 50px;
}

.nav__item {
    margin-right: 1.5rem;
    font-size: .8rem;
}

.nav__item:hover,
.nav__item.active
{
    text-decoration: underline;
}

.header__btn {
    display: none;
}
.nav__sub-item {
    display: none;
}


/* home */
.home-container {
    position: relative;
    z-index: -1;
}

.home-desc {
    position: absolute;
    top: 50%;
    left: 66%;
}


/* scroll down */
.scroll-down a {
    position: absolute;
    bottom: 20%;
    left: 66%;
    z-index: 2;
    display: inline-block;
    transform: translate(0, -50%);
    color: var(--color-light-gray);
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
    }
    .scroll-down a:hover {
    opacity: .5;
    }
    #scroll-down a {
    padding-top: 80px;
    }
    #scroll-down a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid var(--color-light-gray);
    border-bottom: 1px solid var(--color-light-gray);
    transform: rotate(-45deg);
    animation: scroll-arrow 2s infinite;
    opacity: 0;
    box-sizing: border-box;
    }
    #scroll-down a span:nth-of-type(1) {
    animation-delay: 0s;
    }
    #scroll-down a span:nth-of-type(2) {
    top: 16px;
    animation-delay: .15s;
    }
    #scroll-down a span:nth-of-type(3) {
    top: 32px;
    animation-delay: .3s;
    }
    @-webkit-keyframes scroll-arrow {
    0% {
    opacity: 0;
    }
    50% {
    opacity: 1;
    }
    100% {
    opacity: 0;
    }
    }
    @keyframes scroll-arrow {
    0% {
    opacity: 0;
    }
    50% {
    opacity: 1;
    }
    100% {
    opacity: 0;
    }
    }

/* about     */
.about__title {
    position: relative;
    padding-top: 2rem;
}
.about__title h3 {
    z-index: 10;
}
.about__title span {
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 30px;
    background: var(--color-yellow);
    z-index: -2;
}

.about-inner {
    padding: 3rem 0;
}
.about-img {
    position: relative;
    margin-right: 3rem;
}
.about__download {
    position: absolute;
    bottom: 15%;
    left: 55%;
    padding: .5rem;
    background: var(--color-yellow);
    width: 150px;
    text-align: center;
}
.about-container__item {
    margin-bottom: 1.5rem;
    width: 400px;
}
.about-container__item h2 {
    text-transform: uppercase;
    margin-bottom: .5rem;
}



/* skill */

.skill-container {
    margin-top: -8rem;
}
.skill-container .row {
    background: var(--primary-bg-color);
    border-radius: 10px;
    padding: 2rem 0 2rem 1.2rem;
    margin-top: -3rem;
}
.progress-list li .line {
    position: relative;
}
.progressbar:not(.circle) svg,
.progressbar:not(.circle) svg path {
    border-radius: 20px;
}
.progressbar svg path:first-child {
    stroke: rgba(var(--rgb-black), 0.09);
}
.progressbar.border {
    border: 1px solid transparent;
    box-sizing: border-box;
}
.progressbar.border svg path:first-child {
    stroke: transparent;
}
.progressbar.line svg {
    height: 5px;
}
.progressbar.line.border svg {
    height: 4px;
}
.progressbar.circle {
    position: relative;
    margin: 0 auto 25px;
    width: 170px;
    height: 85px;
}

.progressbar.circle .progressbar-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    font-size: 40px;     
    display: flex;     
    align-items: flex-end;     
    justify-content: center;
    font-weight: bold;
}
.progressbar.circle .progressbar-text:after {
    content: "%";
    display: block;
    font-size: 20px;
    padding-left: 2px;
}

.progressbar svg path
{
    stroke: var(--color-yellow);
}

.skill-container p{
    background: transparent;
    padding: 10px;
    width: 75%;
    margin: 0 auto;
    border-radius: 50px;
    border: 2px solid var(--color-light-gray);
    font-size: 17px;
    margin-top: 1rem;
}

/* design */

section.design {
    background: var(--primary-bg-color);
    padding: 8rem 0;
}
.design__title {
    position: relative;
}

.design-container {
    text-align: center;
}

.design-container__box {
    padding: 0 3.5rem;
}

.item__container {
    display: flex;
    flex-wrap: wrap;
    transition: 300ms;
    padding-top: 2rem;
}
.item__container-img {
    position: relative;
    padding: 1rem .7rem;
    transition: 300ms;
}
.item__container-img img {
    border-radius: 30px;
}

.item__container-desc a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: .5rem;
    background: var(--primary-bg-color);
    color: var(--color-dark-gray);
    text-align: center;
    opacity: 0;
    transition: 300ms;
}

.item__container-desc p {
    padding-top: 1rem;
    text-transform: uppercase;
    position: relative;
}

.item__container-desc p:after {
    content: '';
    position: absolute;
    top: 0;
}
.item__container-img:hover .item__container-desc a{
    opacity: 1;
}
.item__container-img:hover img{
    transform: scale(1.1);
}

/* deesign modal */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    display: none;
    z-index: 600;
}
.design__modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 960px;
    height: 100vh;
    z-index: 700;
    margin-top: 5%;
    overflow: scroll;
    text-align: center;
}

.modal__close {
    position: fixed;
    top: 0;
    left: 0;
    font-size: 1.5rem;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding-bottom: 4.5px;
    cursor: pointer;
    z-index: 800;
}
.modal__close:hover {
    background: var(--primary-bg-color);
}

/* web */

section.web {
    padding: 15rem 0;
}

.slider__content {
    padding: 0 3rem;
}

.section__title--wrap {
    text-align: center;
    padding-bottom: 3rem;
}
.slick__button {
    width: 150px;    
}
.slider__button:hover {
    background: #012129;
}
.custom__slider {
    max-width: 960px;
    margin: 0 auto;
}
.slider__content {
    display: flex;
}
.slider__img {
    flex: 1;
    padding: 1rem;
}
.slider__img img {
    border-radius: .5rem;
}
.slider__desc {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    padding-left: 3rem;
    text-align: center;
}
.slider__desc p {
    margin: 1rem 0;
}
.slider__buttons {
    display: flex;
    justify-content: center;   
}
.slider__buttons a{
    padding: .5rem;
    background: var(--color-yellow);
    transition: 300ms;
}
.slick__button:first-child {
    margin-right: 1rem;
}
.slider__buttons a:hover {
    opacity: .5;
}

/* arrow */
.slick-prev,
.slick-next
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 10%;
    font-size: 0;
    border: none ;
    cursor: pointer;
    z-index: 100;
    transition: 300ms;
    background: none;
}
.slick-prev {
    left: 0;
}
.slick-next {
    right: 0;
}
.slick-prev:after,
.slick-next:after{
    font-size: 2rem;
    color: var(--color-dark-gray);
    font-family: 'unicons-line';
    text-align: center;
}
.slick-prev:after {
    content: '\ec49';
}
.slick-next:after {
    content: '\eb9f';
}


/* progress */
.slick-dots {
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
    padding-top: 3rem;
}

.slick-dots li.slick-active button {
    background: var(--color-dark-gray);
}

.slick-dots li {
    margin-right: .5rem;
    
}
.slick-dots li button {
    background: #666;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 0;
    border: none;
    cursor: pointer;
}

/* web modal */
.web__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    display: none;
    z-index: 600;
}
.web__modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 960px;
    height: 100vh;
    z-index: 700;
    margin-top: 5%;
    overflow: scroll;
    text-align: center;
}

.web__modal__close {
    position: fixed;
    top: 0;
    left: 0;
    font-size: 1.5rem;
    color: var(--primary-bg-color);
    background: var(--primary-bg-color);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding-bottom: 4.5px;
    cursor: pointer;
    z-index: 800;
        
}


/* contact */
section.contact {
    text-align: center;
    background: var(--primary-bg-color);
    padding-top: 3rem;
}
.circle__wrap {
    display: flex;
    align-items: center;
}
.contact__click-circle {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background: var(--color-dark-gray);
    color: var(--primary-bg-color);
    border-radius: 50%;
    border: none;
    font-size: 1.5rem;
    line-height: 300px;
    position: relative;

}
.circle__line {
    flex: 1;
    height: 5px;
    background: var(--color-dark-gray);
    border-radius: 5px;
    width: 100%;
}
.circle__line.left {
    margin-right: 1rem;
}
.circle__line.right {
    margin-left: 1rem;
}

.contact__arrow {
    font-size: 3rem;
    margin-top: 4rem;
}
.contact__arrow.rotate {
    transform: rotate(180deg);
}

.contact__title {
    background: var(--color-dark-gray);
    border-radius: 30px 30px 0 0 ;
    margin-top: 5rem;
    padding: 5rem;
}
.contact__desc {
    margin-top: 5rem;
    padding: 5rem 0;
    background: var(--color-dark-gray);
    border-radius: 30px 30px 0 0 ;
    color: var(--color-black);
}

.contact__desc p {
    font-size: 2rem;
}
.contact__sns{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.contact__sns-item {
    margin-right: 2rem;
    color: var(--primary-bg-color);

}
.contact__sns-item i{
    background: var(--color-black);
    border-radius: 50%;
    padding: .7rem;
    margin-bottom: 1rem;

}


/* scrollup */

.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: var(--color-dark-gray);
    opacity: .8;
    padding: 0 .3rem;
    border-radius: .4rem;
    z-index: 600;
    transition: .4s;
}
.scrollup__icon {
    font-size: 1.5rem;
    color: var(--color-white);
}
.scrollup.visible {
    bottom: 5rem;
}