@charset "utf-8";

:root {
    --primary-bg-color: #F3F3F3;
    --color-white : #fff;
    --color-light-gray : #a0a0a0;
    --color-dark-gray : #333;
    --color-black : #000;
    --color-red : #ca4e4e;
    --color-yellow : #f5c463;
    --color-green : #9ccd7e;
    --color-blue : #5ca7db;
}

/* reset */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
img {
    max-width: 100%;
    vertical-align: top;
}
button {
    cursor: pointer;
}
body {
    font-family: 'Inter', sans-serif;
}

/* grid system */
.l-col-1-6 { width: 16.66666666667%; }
.l-col-2-6 { width: 33.33333333333%; }
.l-col-3-6 { width: 50%; }
.l-col-4-6 { width: 66.66666666667%; }
.l-col-5-6 { width: 483.33333333333%; }
.l-col-6-6 { width: 100%; }


/* layout */

.inner {
    min-width: 340px;
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem 0 4rem;
}
.flex {
    display: flex;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

/* header */
header {
    z-index: 1;
    position: fixed;
    left: 0;
    width: 100%;
}
header #logo img {
    width: 50px;
}
.header-inner {
    max-width: 1140px;
    margin: 0 auto;
    justify-content: space-between;
}
.nav__list {
    line-height: 50px;
}
.nav__item {
    margin-right: 1.5rem;
    font-size: .8rem;
}
.nav__item a{
    text-decoration: none;
    color: inherit;
}

/* home */

.home-container {
    position: relative;
    z-index: -1;
}
.home-container img {
    margin-top: -5%;
}
.home-desc {
    position: absolute;
    top: 45%;
    left: 66%;
}


/* scroll down */
.scroll-down a {
    position: absolute;
    bottom: 23%;
    left: 66%;
    z-index: 2;
    display: inline-block;
    transform: translate(0, -50%);
    color: var(--color-light-gray);
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
    }
    .scroll-down a:hover {
    opacity: .5;
    }
    #scroll-down a {
    padding-top: 80px;
    }
    #scroll-down a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid var(--color-light-gray);
    border-bottom: 1px solid var(--color-light-gray);
    transform: rotate(-45deg);
    animation: scroll-arrow 2s infinite;
    opacity: 0;
    box-sizing: border-box;
    }
    #scroll-down a span:nth-of-type(1) {
    animation-delay: 0s;
    }
    #scroll-down a span:nth-of-type(2) {
    top: 16px;
    animation-delay: .15s;
    }
    #scroll-down a span:nth-of-type(3) {
    top: 32px;
    animation-delay: .3s;
    }
    @-webkit-keyframes scroll-arrow {
    0% {
    opacity: 0;
    }
    50% {
    opacity: 1;
    }
    100% {
    opacity: 0;
    }
    }
    @keyframes scroll-arrow {
    0% {
    opacity: 0;
    }
    50% {
    opacity: 1;
    }
    100% {
    opacity: 0;
    }
    }

/* about     */
.about{
    margin-top: 3rem;
}
.about-container__item {
    margin-bottom: 1.5rem;
    width: 400px;
}
.about-container__item h1 {
    text-transform: uppercase;
    margin-bottom: .5rem;
}

.about-img {
    position: relative;
}
.about__download {
    position: absolute;
    bottom: 15%;
    left: 60%;
    padding: .5rem;
    background: var(--primary-bg-color);
    border-radius: 30px;
    width: 150px;
    text-align: center;
}


/* skill */

.skill-container {
    margin-top: -20px;
}
.progress-list li .line {
    position: relative;
}
.progressbar:not(.circle) svg,
.progressbar:not(.circle) svg path {
    border-radius: 20px;
}
.progressbar svg path:first-child {
    stroke: rgba(var(--rgb-black), 0.09);
}
.progressbar.border {
    border: 1px solid transparent;
    box-sizing: border-box;
}
.progressbar.border svg path:first-child {
    stroke: transparent;
}
.progressbar.line svg {
    height: 5px;
}
.progressbar.line.border svg {
    height: 4px;
}
.progressbar.circle {
    position: relative;
    margin: 0 auto 25px;
}
.progressbar.circle {
    width: 170px;
    height: 85px;
}
.progressbar.circle .progressbar-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    font-size: 40px;     
    display: flex;     
    align-items: flex-end;     
    justify-content: center;
    font-weight: bold;
}
.progressbar.circle .progressbar-text:after {
    content: "%";
    display: block;
    font-size: 20px;
    padding-left: 2px;
}

.progressbar.red svg path:last-child {
    stroke: var(--color-red)
}
.progressbar.yellow svg path:last-child {
    stroke: var(--color-yellow)
}
.progressbar.green svg path:last-child {
    stroke: var(--color-green)
}
.progressbar.blue svg path:last-child {
    stroke: var(--color-blue)
}

.skill-container p{
    background: transparent;
    padding: 10px;
    width: 75%;
    margin: 0 auto;
    border-radius: 50px;
    border: 2px solid var(--color-light-gray);
    font-size: 17px;
    margin-top: 1rem;
}

/* design */

section.design {
    background: var(--primary-bg-color);
}
.design-container {
    text-align: center;
    padding-top: 3rem;
}
.design-container__item {
    float: left;
    padding: 0 .5rem;
    margin-top: 3rem;
    position: relative;
    transition: 300ms;
}
.design-container__item img {
    border-radius: 10px;
}

.design-container__desc a{
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: .8rem;
    border-radius: 30px;
    background: var(--primary-bg-color);
    color: var(--color-dark-gray);
    opacity: 0;
    transition: 300ms;
}

.design-container__item:hover .design-container__desc a{
    opacity: 1;
}
.design-container__item:hover {
    transform: scale(1.05);
}
.design-container__desc a:hover{
    background: var(--color-dark-gray);
    color: var(--primary-bg-color);
}

